<div class="span4">    
    <div id="location-list">
      <label>Search Locations</label>
        <div class="input-append">
          <input ng-model="query" type="text"><span class="add-on"><i class="icon-search"></i></span>
        </div>

        <div class="span10"/>

        <ul class="thumbnails">
          <li ng-repeat="location in locations | filter:query | orderBy: island">
            <div ng-show="CreateHeader(location.island)">
               {{location.island}}
              </div>
            <p ng-click="changelocation(location.longitude, location.latitude)">{{location.name}}</p>
          </li>          
        </ul>      
    </div>
  </div>      
</div>
<div class="span8">

      <!-- <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe> -->
      <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 400px; width: 100%; float: left;"></google-map>
    </div>